<div class="info my-1 mx-1">
  <div class="info-row aguardando">
    <div class="color"></div>
    <div class="text">Aguardando</div>
  </div>
  <div class="info-row confirmado">
    <div class="color"></div>
    <div class="text">Confirmado</div>
  </div>
  <div class="info-row preparando">
    <div class="color"></div>
    <div class="text">Preparando</div>
  </div>
  <div class="info-row pronto">
    <div class="color"></div>
    <div class="text">Pronto</div>
  </div>
  <div class="info-row cancelado">
    <div class="color"></div>
    <div class="text">Cancelado</div>
  </div>
</div>
